<h2>
  <%= @article.title %>
</h2>
 
<div>
  <%= @article.text.html_safe %>
</div>

<p>
	<span>By:</span>
  <%= @article.author %>
	<br />
	<span>Posted:</span>
  <%= @article.date %>
</p>

<hr />

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<p>
	<%= link_to 'Back', articles_path %> | 
	<%= link_to 'Edit', edit_article_path(@article) %>
</p>